.register{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

form{
    display: flex;
    flex-direction: column;
    align-items: center;

    input{
        width: 200px;
        height: 30px;
        margin: 10px;
        border: none;
    }
    button{
        width: 200px;
        height: 30px;
        border: none;
        background-color: rgb(61, 199, 233);
        color: aliceblue;
        cursor: pointer;
        font-weight: bold;
        
    }
    button:hover{
        background-color: rgb(33, 110, 129);
        color: aliceblue;
    }
}
}